In [1]:
import pickle
with open("lr_model.sk", "rb") as file: 
    model = pickle.load(file)

In [2]:
def num_there(s):
    return any(i.isdigit() for i in s)

In [3]:
df = pd.read_excel("adj_preped_target.xlsx")

In [4]:
df["summary"][0][:1000]

'Ali ibn Musa al-Ridha (Arabic: عَلِيّ ٱبْن مُوسَىٰ ٱلرِّضَا\u200e, Alīy Mūsā ar-Riḍā; c. 29 December 766 – 23 August 818), also spelled Rida or Reza in Persian, also known as Abu al-Hasan, was a descendant of the Islamic prophet,  Muhammad, and the eighth Shia Imam, after his father Musa al-Kadhim, and before his son Muhammad al-Jawad. He was an Imam of knowledge according to the Zaydi (Fiver) Shia school and Sufis. He lived in a period when Abbasid caliphs were facing numerous difficulties, the most important of which was Shia revolts. The Caliph Al-Ma\'mun sought out a remedy for this problem by appointing Al-Ridha as his successor, through whom he could be involved in worldly affairs. However, according to the Shia view, when Al-Ma\'mun saw that the Imam gained even more popularity, he decided to correct his mistake by poisoning him. The Imam was buried at the Imam Reza shrine in a village in Khorasan, which afterwards gained the name Mashhad, meaning "place of martyrdom".\n\n\n== Birth and f'

In [5]:
features = pd.read_csv("adj_features.csv")
features = features[[x for x in features.columns if x not in ["april" ,
"november"   ,
"december",
"september" ,
"may"     ,   
"august"   ,  
"june"   ,   
"october"   ,
"july"  ,   
"january",
"march",  
"february" ] and num_there(x) == False ]]

In [6]:
features.head()

,abbasid,abelian,able,aboriginal,absent,absolute,abstract,abusive,academic,accessible,...,yearly,yellow,yemeni,yiddish,young,younger,youngest,yugoslav,zimbabwean,zionist
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
model.predict(features)

array(['Sag', 'Cap', 'Cap', ..., 'Sag', 'Can', 'Pis'], dtype=object)

In [8]:
test = df["summary"][0]

In [9]:
def build_features(x):
    tlist = {}
    for y in features.columns: 
        tlist[y] = [x.count(y)]
    
    df2 = pd.DataFrame(tlist)
    return df2

In [10]:
build_features(test)

,abbasid,abelian,able,aboriginal,absent,absolute,abstract,abusive,academic,accessible,...,yearly,yellow,yemeni,yiddish,young,younger,youngest,yugoslav,zimbabwean,zionist
0,0,0,3,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [11]:
model.predict(build_features(test))

array(['Lib'], dtype=object)

In [12]:
def predict_text(x):
    res = build_features(x)
    return model.predict(res)[0]

In [13]:
predict_text(test)

'Lib'