In [28]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

from sklearn.naive_bayes import MultinomialNB

In [29]:
df = pd.read_excel("preped_target.xlsx") 
features = pd.read_csv("features.csv")

In [30]:
features = features[[x for x in features.columns if x not in ["april" ,
"november"   ,
"december",
"september" ,
"may"     ,   
"august"   ,  
"june"   ,   
"october"   ,
"july"  ,   
"january",
"march",  
"february" ]]]

In [31]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Year,Name,date,birthday,summary,date_birthday,sign,count,target
0,0,0,0,766,Ali al-Ridha (d. 818) 8th Imam of Twelver Shia...,January 1,nan,Ali ibn Musa al-Ridha (Arabic: عَلِيّ ٱبْن مُو...,2000-01-01,Cap,1,0
1,1,1,1,1431,Pope Alexander VI (d. 1503),January 1,nan,"Pope Alexander VI, born Rodrigo de Borja (Vale...",2000-01-01,Cap,1,0
2,2,3,3,1467,"Sigismund I the Old, Polish king (d. 1548)",January 1,nan,"Sigismund I the Old (Polish: Zygmunt I Stary, ...",2000-01-01,Cap,1,0
3,3,5,5,1511,"Henry, Duke of Cornwall, first-born child of H...",January 1,nan,Henry VIII (28 June 1491 – 28 January 1547) wa...,2000-01-01,Cap,1,0
4,4,6,6,1557,"Stephen Bocskay, Prince of Transylvania (d. 1606)",January 1,nan,Transylvania is a historical region in central...,2000-01-01,Cap,1,0

In [32]:
features.head()

,Unnamed: 0,04,09,100th,103rd,104th,105th,106th,109th,10th,...,yearly,yellow,yemeni,yiddish,young,younger,youngest,yugoslav,zimbabwean,zionist
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
features.shape

(12072, 2001)

In [34]:
X_train, X_test, y_train, y_test = train_test_split(features, df["sign"], test_size=0.33, random_state=42)

## Multinomial NB

In [35]:
clf = MultinomialNB()
clf.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [36]:
1/12

0.08333333333333333

In [37]:
print(classification_report(y_test, clf.predict(X_test)))

              precision    recall  f1-score   support

         Aqu       0.35      0.42      0.38       175
         Ari       0.45      0.33      0.38       360
         Can       0.40      0.24      0.30       354
         Cap       0.05      0.02      0.03       313
         Gem       0.36      0.25      0.29       389
         Leo       0.28      0.19      0.23       324
         Lib       0.30      0.32      0.31       366
         Pis       0.52      0.38      0.44       226
         Sag       0.23      0.61      0.34       338
         Sco       0.24      0.33      0.28       354
         Tau       0.36      0.30      0.33       414
         Vir       0.31      0.31      0.31       371

    accuracy                           0.30      3984
   macro avg       0.32      0.31      0.30      3984
weighted avg       0.32      0.30      0.30      3984

In [38]:
coefs = pd.DataFrame(clf.coef_, columns = features.columns, index = clf.classes_)

In [39]:
for col in coefs.index: 
    print(col)
    print((coefs.T[col] - coefs.T.mean(axis = 1)).sort_values(ascending = False).head(30))
    print()

Aqu
34th            4.28
48th            4.28
41st            4.18
37th            4.07
29th            3.96
superior        3.85
deccan          3.70
teenage         3.63
feminist        3.62
22nd            3.56
26th            3.55
25th            3.54
dead            3.46
44th            3.44
adoptive        3.38
33rd            3.36
grand           3.36
andean          3.35
considerable    3.32
reckless        3.29
starring        3.29
eventual        3.28
joint           3.27
32nd            3.26
winningest      3.23
thoroughbred    3.23
transylvanian   3.23
impressive      3.22
flamboyant      3.17
38th            3.17
dtype: float64

Ari
99th             3.24
freedman         2.95
fürst            2.95
109th            2.89
circular         2.80
hunnic           2.80
christological   2.80
106th            2.74
bann             2.71
hanoverian       2.71
numidian         2.71
canaanite        2.71
96th             2.65
104th            2.61
pagan            2.61
unsuccess        2.50
fatimid          2.50
95th             2.50
98th             2.46
88th             2.40
83rd             2.39
likely           2.39
temporary        2.36
komnenian        2.33
northeastern     2.29
mongolian        2.27
84th             2.27
slavic           2.24
holiest          2.24
astrological     2.24
dtype: float64

Can
180th             2.13
186th             1.97
majorcan          1.97
parliamentarian   1.82
seleucid          1.78
192nd             1.78
mystic            1.67
177th             1.67
198th             1.67
199th             1.67
apothecary        1.62
ducal             1.62
macedonian        1.61
exact             1.59
burgundian        1.57
farthest          1.49
179th             1.41
191st             1.41
lancastrian       1.41
185th             1.41
amerindian        1.35
189th             1.24
183rd             1.24
hadrian           1.23
perfect           1.20
rear              1.19
genoese           1.18
rebellious        1.15
franciscan        1.07
184th             1.04
dtype: float64

Cap
358th             2.48
nika              1.93
antitrinitarian   1.90
heretical         1.71
fragile           1.69
north             1.57
numbered          1.57
fundamental       1.49
ongoing           1.46
organizational    1.46
exclusive         1.34
combined          1.29
joint             1.27
coastal           1.27
360th             1.26
internal          1.21
hessian           1.21
12th              1.15
diverse           1.09
muslim            1.03
algerian          1.01
divisional        1.00
disastrous        1.00
conceptual        0.98
drunk             0.97
arab              0.95
aware             0.94
11th              0.88
paranormal        0.85
interim           0.85
dtype: float64

Gem
sasanian        2.88
149th           2.03
emperor         2.03
170th           2.03
169th           2.03
164th           2.03
dedicated       1.97
faith           1.94
nomadic         1.94
inju            1.94
feigned         1.94
163rd           1.94
158th           1.94
catastrophic    1.79
venetian        1.77
167th           1.74
fewest          1.69
undefended      1.68
144th           1.61
incarcerated    1.61
burgundian      1.53
approximate     1.52
institutional   1.50
biblical        1.49
taborite        1.47
utraquist       1.47
150th           1.47
146th           1.47
160th           1.47
inter           1.44
dtype: float64

Leo
232nd          2.05
dalmatian      1.92
muslim         1.91
dethroned      1.77
210th          1.77
rapid          1.67
bulgarian      1.66
226th          1.58
mysterious     1.50
legionary      1.35
220th          1.35
235th          1.35
arab           1.32
207th          1.29
feast          1.26
213th          1.21
batavian       1.21
ally           1.21
208th          1.21
223rd          1.21
latvian        1.17
qatari         1.15
sacred         1.11
columbian      1.09
mesoamerican   1.09
germanic       1.09
225th          1.04
217th          1.04
205th          1.04
228th          1.04
dtype: float64

Lib
294th           1.93
285th           1.78
babylonian      1.78
274th           1.67
tactical        1.55
293rd           1.38
49th            1.27
genoese         1.23
merovingian     1.20
seismological   1.20
272nd           1.14
rival           1.09
277th           1.09
280th           1.09
267th           1.09
piedmontese     1.09
269th           1.09
fortified       1.08
theological     1.06
venetian        1.04
caribbean       0.98
gunpowder       0.94
přemyslid       0.94
komnenian       0.92
289th           0.91
weak            0.91
predicted       0.91
rebel           0.90
solar           0.90
limited         0.85
dtype: float64

Pis
69th            4.25
77th            3.72
levant          3.66
mass            3.55
captive         3.51
hadrian         3.47
provisional     3.39
56th            3.39
frisian         3.08
divisible       3.08
53rd            2.91
ionic           2.88
algerian        2.84
64th            2.79
60th            2.79
astonishing     2.76
flat            2.74
mongolian       2.72
revolutionary   2.70
sound           2.68
62nd            2.67
slovenian       2.64
undisputed      2.64
episcopal       2.62
intercalary     2.62
learned         2.62
charismatic     2.59
nationalist     2.56
74th            2.56
subatomic       2.56
dtype: float64

Sag
355th         1.61
vespasian     1.43
shortest      1.23
339th         1.19
alleged       1.16
asturian      1.11
330th         1.11
underage      1.08
342nd         1.02
castilian     0.99
innocent      0.97
papal         0.79
348th         0.76
unmanned      0.76
decisive      0.69
prussian      0.67
persian       0.64
burmese       0.59
336th         0.56
venezuelan    0.51
ancient       0.45
recorded      0.44
354th         0.39
327th         0.39
outnumbered   0.39
continental   0.35
islamic       0.34
341st         0.33
sympathetic   0.33
longest       0.31
dtype: float64

Sco
320th             1.50
royalist          1.36
305th             1.36
patriot           1.19
297th             1.09
lost              1.04
301st             0.99
adal              0.99
expeditionary     0.97
continued         0.92
vespasian         0.85
wallachian        0.81
parliamentarian   0.80
298th             0.72
325th             0.72
308th             0.72
hasmonean         0.72
quantitative      0.67
ecclesiastical    0.63
untethered        0.63
322nd             0.56
307th             0.56
oldest            0.55
lower             0.54
interior          0.52
eastern           0.50
georgian          0.48
loyal             0.48
spiritual         0.44
revolutionary     0.41
dtype: float64

Tau
maximian       2.79
113th          2.47
141st          2.40
croatian       2.34
nocturnal      2.25
127th          2.25
cabral         2.16
bloodthirsty   2.16
121st          2.16
135th          2.06
augustinian    2.06
diocletian     2.04
square         2.03
monastic       1.97
130th          1.95
nascent        1.90
122nd          1.83
115th          1.78
136th          1.63
feminist       1.58
frankish       1.54
bavarian       1.53
134th          1.52
139th          1.52
flemish        1.52
62nd           1.52
118th          1.47
buddhist       1.46
armenian       1.45
organic        1.42
dtype: float64

Vir
ethiopian     2.55
coptic        2.33
254th         2.33
terrorist     2.06
248th         1.47
moroccan      1.44
259th         1.38
nostro        1.29
vizoka        1.29
failed        1.29
244th         1.29
256th         1.18
vernal        1.12
autumnal      1.12
238th         1.06
akan          1.06
teutonic      1.00
latvian       0.97
peaceful      0.94
239th         0.92
266th         0.92
258th         0.92
educational   0.90
der           0.88
violent       0.87
250th         0.86
profitable    0.80
progressive   0.78
devastating   0.77
251st         0.75
dtype: float64

## Random Forest

In [40]:
from sklearn.ensemble import RandomForestClassifier

In [41]:
r = RandomForestClassifier()
r.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [42]:
print(classification_report(y_test, r.predict(X_test)))

              precision    recall  f1-score   support

         Aqu       0.72      0.71      0.71       175
         Ari       0.86      0.94      0.90       360
         Can       0.96      0.97      0.97       354
         Cap       0.93      0.66      0.77       313
         Gem       0.96      0.96      0.96       389
         Leo       1.00      0.99      1.00       324
         Lib       1.00      1.00      1.00       366
         Pis       0.76      0.82      0.79       226
         Sag       0.96      0.99      0.98       338
         Sco       0.99      1.00      1.00       354
         Tau       0.94      0.98      0.96       414
         Vir       0.99      1.00      1.00       371

    accuracy                           0.94      3984
   macro avg       0.92      0.92      0.92      3984
weighted avg       0.94      0.94      0.93      3984

In [43]:
print(dir(r))

['__abstractmethods__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setstate__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_abc_cache', '_abc_negative_cache', '_abc_negative_cache_version', '_abc_registry', '_estimator_type', '_get_param_names', '_get_tags', '_make_estimator', '_more_tags', '_required_parameters', '_set_oob_score', '_validate_X_predict', '_validate_estimator', '_validate_y_class_weight', 'apply', 'base_estimator', 'base_estimator_', 'bootstrap', 'ccp_alpha', 'class_weight', 'classes_', 'criterion', 'decision_path', 'estimator_params', 'estimators_', 'feature_importances_', 'fit', 'get_params', 'max_depth', 'max_features', 'max_leaf_nodes', 'max_samples', 'min_impurity_decrease', 'min_impurity_split', 'min_samples_leaf', 'min_samples_split', 'min_weight_fraction_leaf', 'n_classes_', 'n_estimators', 'n_features_', 'n_jobs', 'n_outputs_', 'oob_score', 'predict', 'predict_log_proba', 'predict_proba', 'random_state', 'score', 'set_params', 'verbose', 'warm_start']

In [44]:
coefs = coefs.T

In [45]:
coefs["importance"] = r.feature_importances_

In [46]:
coefs["importance"].sort_values(ascending = False).head(30)

Unnamed: 0      0.45
first           0.01
american        0.01
early           0.01
professional    0.01
former          0.01
second          0.00
french          0.00
english         0.00
gregorian       0.00
national        0.00
several         0.00
german          0.00
british         0.00
high            0.00
last            0.00
international   0.00
best            0.00
old             0.00
italian         0.00
major           0.00
many            0.00
spanish         0.00
australian      0.00
third           0.00
successful      0.00
canadian        0.00
known           0.00
senior          0.00
top             0.00
Name: importance, dtype: float64