In [14]:
from tqdm import tqdm

In [1]:
import wikipediaapi
import wikipedia

In [2]:
wiki_wiki = wikipediaapi.Wikipedia(
    user_agent="Star_sign_prediction (jbm112358@gmail.com)", language="en"
)

In [3]:
celeb = "Heinrich Georg Bronn, German geologist and paleontologist (d. 1862)"
page = wikipedia.page(celeb)
page.title

'Heinrich Georg Bronn'

In [4]:
page.summary

"Heinrich Georg Bronn (3 March 1800 – 5 July 1862) was a German geologist and paleontologist. He was the first to translate Charles Darwin's On the Origin of Species into German in 1860, although not without introducing his own interpretations, as also a chapter critiquing the work."

In [5]:
page.summary.split("(")[1].split(" – ")[0]

'3 March 1800'

In [6]:
def get_data(celeb):
    page = wikipedia.page(celeb)
    page.url
    date = page.summary.split("(")[1].split(" – ")[0]
    content = page.content
    return date, content

In [7]:
def mp_get_data(celeb):
    page = wikipedia.page(celeb)
    page.url
    date = page.summary.split("(")[1].split(" – ")[0]
    content = page.content
    returnr = {"celeb": celeb, "date": date, "content": content}
    return returnr

In [8]:
df = pd.read_csv("famous_births.csv")
df.head()

,Unnamed: 0,Year,Name,date
0,0,Section: Births (1):,NaN,January 1
1,1,NaN,NaN,January 1
2,2,Subsections (3):,NaN,January 1
3,3,Section: Pre-1600 (2):,NaN,January 1
4,4,766,"Ali al-Ridha, 8th Imam of Twelver Shia Islam (...",January 1

In [9]:
len(df)

83251

In [ ]:
dates = []
summaries = []
for num, celeb in tqdm(enumerate(df["Name"])): 
    if num%500 == 0: 
        # print(num)
        pass
    
    
    try:
        d, c = get_data(celeb)
    except Exception as e: 
        # print(num, celeb, e)
        d = ""
        c = ""
    dates.append(d)
    summaries.append(c)

27940it [8:31:51,  1.19s/it]

In [ ]:
df["birthday"] = dates
df["summary"] = summaries
df.to_csv("dated_births.csv")