In [11]:
import wikipedia

In [12]:
celeb = "Heinrich Georg Bronn, German geologist and paleontologist (d. 1862)"
page = wikipedia.page(celeb)
page.url

'https://en.wikipedia.org/wiki/Heinrich_Georg_Bronn'

In [13]:
page.summary.split("(")[1].split(" – ")[0]

'3 March 1800'

In [14]:
def get_data(celeb): 
    page = wikipedia.page(celeb)
    page.url
    date = page.summary.split("(")[1].split(" – ")[0] 
    content = page.content
    return date, content

In [ ]:
def mp_get_data(celeb): 
    page = wikipedia.page(celeb)
    page.url
    date = page.summary.split("(")[1].split(" – ")[0] 
    content = page.content
    returnr = {"celeb": celeb, "date": date, "content": content}
    return returnr

In [15]:
df = pd.read_csv("famous_births.csv")
df.head()

,Unnamed: 0,Year,Name,date
0,0,766,Ali al-Ridha (d. 818) 8th Imam of Twelver Shia...,January 1
1,1,1431,Pope Alexander VI (d. 1503),January 1
2,2,1449,"Lorenzo de' Medici, Italian politician (d. 1492)",January 1
3,3,1467,"Sigismund I the Old, Polish king (d. 1548)",January 1
4,4,1484,"Huldrych Zwingli, Swiss pastor and theologian ...",January 1

In [16]:
len(df)

77145

In [ ]:
dates = []
summaries = []
for num, celeb in enumerate(df["Name"]): 
    if num%500 == 0: 
        print(num)
    
    
    try:
        d, c = get_data(celeb)
    except: 
        d = ""
        c = ""
    dates.append(d)
    summaries.append(c)

0

C:\Users\joe\AppData\Local\Continuum\anaconda3\envs\ds\lib\site-packages\wikipedia\wikipedia.py:389: UserWarning:

No parser was explicitly specified, so I'm using the best available HTML parser for this system ("html.parser"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 389 of the file C:\Users\joe\AppData\Local\Continuum\anaconda3\envs\ds\lib\site-packages\wikipedia\wikipedia.py. To get rid of this warning, pass the additional argument 'features="html.parser"' to the BeautifulSoup constructor.

500
1000

In [ ]:
df["birthday"] = dates
df["summary"] = summaries
df.to_csv("dated_births.csv")